
body{
    font-weight: bolder;
    font-family: system-ui;
}

h1{
    color: crimson;
    background-color: aqua;
}

h2{
    color: azure;
    background-color: black;
}

h3{
    color: blue;
}